/* cai dat ban dau la 0*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*Menu doc ben trai*/
#menu {
	width: 20%;
	height: 100%;
	float: left;
	position: fixed;
	overflow: auto;
}

/*ul*/
#menu ul {
	list-style-type: none;
	background-color: #99ff99;
	width: 100%;
}

#menu ul li {
	width: auto;
	border-bottom: 1px solid white;
}

#menu ul li a {
	display: block;
	text-decoration: none;
	padding: 8px 16px;
}
#menu ul li:hover {
	background-color: red;
}

#nav {
	width: 80%;
	float: right;
	height: 100%;
	background-color: #0033cc;
}

#nav ul {
	list-style-type: none;
	width: 100%;
	margin: 0 auto;
}

#nav ul li {
	display: inline-block;
	width: 14%;
	text-align: center;
	position: relative;

}

#nav ul li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 8px 16px;
}

#nav ul li:hover {
	background-color: #666699;
}

#nav #submenu {

	display: none;
}

#nav #submenu {
	background-color: gray;
	position: absolute;

}

#nav #submenu li {
	width: 100%;
	border-bottom: 0.5px solid white;
	height: 30px;
}
#nav li:hover #submenu{
	display: block;
}

#content1 {
	float:right;
	width: 80%;
	background-color: #666666;
	text-align: center;
	border: 1px solid black;
}

img {
	clear: both;
	margin: 30px;
}	

#content2 {
	float: right;
	width: 80%;

}

#content2 ul {
	list-style-type: none;
	width: 100%;
}

#content2 ul li {

	width: 33%;
	text-align: center;
	display: block;
	float: left;
	text-align: justify;

}

p {
	font-family: Times New Roman;
	font-size: 18px;
	margin-right: 15px;
	margin-top: 15px;
}